#left, #right {
    background: Black;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

body {
    background: Beige;
    font-family: Serif;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: 0;
}

#navBar {
    background: Black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

#navBar li {
    display: inline-block;
    padding: 15px;
}

#navBar li a {
    color: white;
}

.slideShow {
    width: 100%;
    padding-bottom: 50px;
}

.slideShow div{
    height: auto;
}

.imgScroll{
    width: 850px;
    height: 510px;
    overflow-y: scroll;
}