<h1>About Me</h1>
<img src="/images/me.jpg" />
<h2>Background</h2>
<p>
    I started the Oregon State Computer Science program in Summer 2019. In my first undergraduate degree I studied Psychology with plans to go
    into the medical field. In pursuit of that goal, I worked as an Emergency Medical Scribe at a local hospital and as a Case Manager at the
    pharmaceutical company Genentech. However, after a couple years of working, I decided that I was not excited by the idea of becoming a
    medical professional. Once I came to that conclusion, my new goals were unclear and I just continued aimlessly working at Genentech.
</p>
<p>
    My new passion came when I brought up the idea of automating certain menial parts of our work. I knew it could be done because I had always
    had an interest in programming and, over the years, I had coded small projects as a hobby. The idea was popular amongst the managers and, after
    some corporate bureaucracy, I was given the role of Project Technical Lead and allowed to lead an interdepartmental team to implement my idea.
    The project ended in a huge success and was given an internal award for innovation.
</p>
<p>
    That project lit a fire underneath me and, since that time, my new goal has been to become a software engineer!
</p>
<h2>My Links</h2>
<a href="https://www.linkedin.com/in/ryan-adams-2730a7176/">LinkedIn</a><br />
<a href="https://github.com/Ryan-Adams365/fortune-cookie">GitHub</a>
<h2>Contact Me</h2>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post" id="contactForm">
    <label for="fullName">Full Name:</label><br />
    <input type="text" id="fullName" name="fullName" /><br />
    <label for="email">Email:</label><br />
    <input type="email" id="email" name="email" /><br />
    <label for="message">Your Message:</label><br />
    <textarea rows="5" cols="50" id="message" name="message"></textarea><br />
    <input type="submit" value="Submit" />
</form>