<h1>Langton's Ant</h1>
<div class="imgScroll">
    <h2>Infinite Highway</h2>
    <img src="/images/langtons-ant-1.jpg" />
    <h2>First 500</h2>
    <img src="/images/langtons-ant-2.jpg" />
    <h2>Settings Menu</h2>
    <img src="/images/langtons-ant-3.jpg" />
</div>
<h2>Description</h2>
<div class="description">
    <p>
        The classic universal Turing machine Langton's Ant has you give starting values to an ant that follows a simple instruction set for movement. Watch as your ant spirals out of control. Literally!
    </p>
</div>
<h2>Features</h2>
<div class="features">
    <ul>
        <li>Customize your board size and number of steps</li>
        <li>Specify or randomize your starting location</li>
        <li>Wrap-around edges!</li>
    </ul>
</div>
<h2>Downloads</h2>
Source Files: <button onclick="location.href='/data/Ryan_Adams_Langtons_Ant.zip'">Download</button>