<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{#each scripts}}
    <script src="/scripts/{{this}}"></script>
    {{/each}}
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <ul id="navBar">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/meal-plans">Meal Plans</a></li>
    </ul>
    {{{body}}}
</body>
</html>